// color scheme
// https://kuler.adobe.com/Gelato-color-theme-4099438/edit/?copy=true

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootstrap/bootstrap";
@import "sticky-footer";

body {
  font-family: $font-family-serif;
  padding-top: 51px;
  padding-bottom: 40px;
}

#nav {
  padding-top: 40px;
}

#background {
  background-image: url("../images/knit_large.png");
  border-top: 1px solid $gray-lighter;
  border-bottom: 3px solid $gray-lighter;
  padding: 2% 0;

  h1 {
    font-size: 4em;
    margin-top: 0px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}

#content {
  padding-top: 40px;
}

label {
  margin-top: 10px;
}

input {
  margin: 5px 0px 10px 0px;
}

span.glyphicon {
  font-size: 80%;
}