// color scheme
// https://kuler.adobe.com/Gelato-color-theme-4099438/edit/?copy=true

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootstrap/bootstrap";
@import "sticky-footer";

body {
  font-family: $font-family-serif;
  padding-top: 51px;
  padding-bottom: 40px;
}

nav {
  background-image: url("../images/knit.png");
}

.padding-top {
  padding-top: 40px;
}

.padding-top--small {
  padding-top: 10px;
}

label {
  margin-top: 10px;
}

input {
  margin: 5px 0px 10px 0px;
}

span.glyphicon {
  font-size: 80%;
}

h1.jumbo {
  font-size: 5em;
}

.center {
  text-align: center;
}

p.lead {
  margin-bottom: 0px;
}