// color scheme
// https://kuler.adobe.com/Gelato-color-theme-4099438/edit/?copy=true

@import "base/var";
@import "components/alerts";
@import "layout/sticky-footer";
@import "layout/menu";

body {
  font-family: $serif;
  color: $gray;
  font-size: 1.25em;
}

p {
  line-height: 1.5em;
}

a {
  color: $pink;
  text-decoration: none;
}

#container {
  max-width: 840px;
  padding: 5% 2%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.header {
  h1.jumbo {
    font-size: 4em;
    padding: 0;
    margin: 0;
  }

  h2 {
    padding: 0;
    margin: 0;
  }
}

.bold {
  font-weight: 700;
}