// COLORS
$teal: #80DDBE;
$lightBlue: #AFE2D3;
$red: #FC584C;
$pink: #FF8D8D;
$lightGray: #F3EFE6;
$gray: #333333;

// COLOR ALIASES // SEMANTIC NAMES
$primary: $teal;
$danger: $red;
$info: $lightBlue;

// FONTS
$serif: "adelle", "Georgia", Georgia, serif;