<form novalidate name="{{formName}}" class="pure-form pure-form-stacked">
  <label for="starting">Starting number of stitches</label>
  <div class="alert alert-danger" ng-show="results.tooSmall">{{ errors.tooSmall }}</div>
  <input type="number" name="starting" ng-model="sts.starting" required></input>

  <label for="ending">End number of stitches</label>
  <div class="alert alert-danger" ng-show="results.tooLarge">{{ errors.tooLarge }}</div>
  <input type="number" name="ending" ng-model="sts.ending" required></input>

  <input type="submit" class="pure-button" value="Calculate!" ng-disabled="!{{formName}}.$valid" ng-click="calculate()"></input>
</form>