.left {
  width: 30%;
  float: left;
  background-color: $reallyLightestGray;
  padding: 2%;
}

.right {
  width: 63%;
  float: right;
}

// iphones
@media (max-width: 640px) {
  .left, .right {
    float: none;
    max-width: 640px;
    width: 96%;
  }
}