.menu {
  font-size: 70%;
  padding: 0px;
  margin-bottom: 1%;
  ul { margin: 0; }
  li {
    margin: 0;
    a {
      margin: 0;
      color: $pink;
      &:hover { color: $lightestGray; }
      &.active { color: $lightestGray; }
    }
    &.bold {
      background: lighten($lightestGray, 20%);
    }
  }
}

// massive fucking screens
@media (min-width: 1670px) {
  .menu {
    ul { display: inline; }
    li {
      display: inline;
      padding: 10px 15px;
    }
  }
}

// most normal screens
@media (max-width: 1910px) and (min-width: 841px) {
  .menu {
    ul {
      padding-left: 0;
      display: inline;
    }
    li {
      display: inline-block;
      padding: 10px 15px;
    }
  }
}

// smaller screens
@media (max-width: 840px) and (min-width: 641px) {
  .menu {
    ul {
      padding-left: 0;
      display: inline;
    }
    li {
      display: inline-block;
      padding: 10px 10px;
    }
  }
}

// iphones
@media (max-width: 640px) {
  .menu {
    background: $white;
    font-size: 100%;
    ul {
      padding-left: 0;
      border-top: 1px solid $lightestGray;
      border-right: 1px solid $lightestGray;
      border-left: 1px solid $lightestGray;
    }
    li {
      padding: 10px 10px;
      text-align: center;
      border-bottom: 1px solid $lightestGray;
      &.bold {
        background: lighten($lightestGray, 20%);
      }
      a {
        color: $pink;
      }
    }
  }
}
