<div ng-controller="ConverterYardsToMetersCtrl as converter">
  <page-title></page-title>

  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Calculators</h4>
        </div>
        <div class="panel-body">
            <form name="yToM" novalidate>
              <h5>Yards to Meters</h5>
              <div class="control-group">
                <label for="yards">Yards</label>
                <input type="number" required name="yards" class="form-control" ng-model="yards">
              </div>

              <input type="submit" class="btn" value="Convert!" ng-disabled="!yToM.$valid" ng-click="calculateMeters()"></input>
            </form>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div ng-show="results">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Conversion</h4>
          </div>
          <div class="panel-body">
            <p class="lead">{{ yards }} yards is approximately {{ meters }} meters.</p>
            <br>
            <p>More precisely: {{ float }} meters</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>