<div ng-controller="HatGeneratorCtrl as hat">
  <page-title></page-title>

  <form name="hatForm" novalidate class="pure-form pure-form-stacked">
    <label for="needle">
      <p>Needle size</p>
    </label>

    <select required name="needle" id="needle" ng-model="needle">
      <option ng-repeat="needle in needles" value="{{ needle.value }}">{{ needle.label }}</option>
    </select>

    <label for="size">
      <p><strong>Head circumference (in inches)</strong></p>
    </label>

    <p class="help-block">Select carefully! Assumptions are made based on your selection.</p>

    <select required name="size" id="size" ng-model="size">
      <option ng-repeat="size in sizes" value="{{ size.value }}">{{ size.label }}</option>
    </select>

    <label for="yarn">
      <p>Yarn weight</p>
    </label>

    <select required name="yarn" id="yarn" ng-model="yarn">
      <option value="Lace" id="Lace">Lace</option>
      <option value="Light Fingering" id="Light Fingering">Light Fingering</option>
      <option value="Fingering" id="Fingering">Fingering</option>
      <option value="Sport" id="Sport">Sport</option>
      <option value="DK" id="DK">DK</option>
      <option value="Worsted" id="Worsted">Worsted</option>
      <option value="Aran" id="Aran">Aran</option>
      <option value="Bulky" id="Bulky">Bulky</option>
      <option value="Super Bulky" id="Super Bulky">Super Bulky</option>
    </select>


    <p><strong>Gauge</strong></p>
    <p class="help-block">Stockinette or main body stitch motif</p>

    <label for="rowGauge">Number of rows per inch</label>
    <input type="number" required ng-model="rowGauge" name="rowGauge">

    <label for="stitchGauge">Number of stitches per inch</label>
    <input type="number" required ng-model="stitchGauge" name="stitchGauge">

    <input type="submit" class="pure-button" ng-disabled="!hatForm.$valid" ng-click="generate()"></input>
  </form>

  <div>
    <h4>Results</h4>
    Needle: {{ pattern.needle }}<br>
    Smaller needle: {{ pattern.smallerNeedle }}<br>
    Size: {{ size }}<br>
    Yarn: {{ yarn }}<br>
    Row gauge: {{ rowGauge }}<br>
    Stitch gauge: {{ stitchGauge }}<br>

    <p>Row gauge 4: {{ pattern.rowGauge4 }}</p>

    <p>Stich gauge 4: {{ pattern.stitchGauge4 }}</p>

    <p>Radius: {{ pattern.radius }}</p>

    <p>Slope: {{ pattern.slope }}</p>

    <p>squareInches: {{ pattern.squareInches }}</p>

    <p>castOn: {{ pattern.castOn }}</p>

    <p>multiple: {{ pattern.multiple }}</p>

    <p>numDecreases: {{ pattern.numDecreases }}</p>

    <p>ribbing: {{ pattern.ribbing }}</p>

    <p>ribbingRows: {{ pattern.ribbingRows }}</p>

    <p>bodyHeight: {{ pattern.bodyHeight }}</p>
  </div>
</div>