<h1 class="center jumbo">knitcalc.co <span class="glyphicon glyphicon-pencil"></span></h1>
<h2 class="center">Knitting Pattern Generators & Calculators</h2>

<div class="padding-top">
  <h3>Welcome!</h3>

  <p>knitcalc.co is a series of free knitting pattern generators and calculators available for you to use.</p>

  <p>Have a calculator you'd like to see that's not listed? <a href="mailto: eabinante+knitcalc@gmail.com">Email me</a>!</p>

  <p>Created and lovingly maintained by <a href="http://artcraftcode.com"><img src="/images/acc.png" alt="Art Craft Code" height="25px"></a>!</p>
</div>